* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 15px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li {
  width: 48%;
}

img {
  width: 100%;
}

img:hover {
  transform: scale(1.1);
  transition: transform 1s;
}
